[user]
	name = Ryan McGowan
	email = ryan@ryanmcg.com
[color]
	status = auto
	diff = auto
[merge]
	tool = gvimdiff

[color]
	diff = auto
	branch = auto
	status = auto

[alias]
	a = add
	ap = add -p
	ae = add -e
	b = branch
	cm = commit -m
	ca = commit -a
	cam = commit -am
	co = checkout
	d = diff
	dc = diff --cached
	ds = diff --stat
	s = status
	sn = show --name-only --decorate
	l = log --decorate --graph
	ls = log --decorate --graph --stat
	l1 = log --decorate --graph --oneline
	hs = log --decorate --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	wc = whatchanged --decorate --graph
	rl = reflog --decorate
	rs = remote show
	p = pull
	pr = pull --rebase
	rp = reset -p

[branch]
	autosetupmerge = always

[core]
	excludesfile = ~/.gitignore.global
[github]
	user = RyanMcG
[giggle]
	main-window-maximized = false
	main-window-geometry = 995x563+208+225
	file-view-vpane-position = 494
	history-view-vpane-position = 258
	main-window-view = FileView
[web]
	browser = chromium
