[user]
	name = Ryan McGowan
	email = ryan@ryanmcg.com
[color]
	status = auto
	diff = auto
[merge]
	tool = splice
[color]
	diff = auto
	branch = auto
	status = auto
[alias]
	a = add
	ap = add -p
	ae = add -e
	b = branch
	cm = commit -m
	ca = commit -a
	cam = commit -am
	co = checkout
	d = diff
	dc = diff --cached
	ds = diff --stat
	f = fetch
	s = status
	sn = show --stat --decorate
	l = log --decorate --graph
	lf = log --graph --pretty=epic-friend
	le = log --graph --pretty=epic-exact
	ls = log --graph --pretty=epic-exact
	l1 = !git --no-pager log --graph --pretty=epic-exact -1
	lt = !git --no-pager log --graph --pretty=epic-friend -10
	wc = whatchanged --decorate --graph
	sl = stash list --pretty=epic-exact -1
	rl = reflog --decorate
	rs = remote show
	p = pull
	pr = pull --rebase
	r = reset
	rh = reset HEAD
	rp = reset -p
[branch]
	autosetupmerge = always

[core]
	excludesfile = ~/.gitignore.global
[github]
	user = RyanMcG
[giggle]
	main-window-maximized = false
	main-window-geometry = 995x563+208+225
	file-view-vpane-position = 494
	history-view-vpane-position = 258
	main-window-view = FileView
[web]
	browser = chromium
[push]
	default = tracking
[mergetool "splice"]
	cmd = "gvim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
	trustExitCode = true
[pretty]
	epic-exact = %C(yellow)%h%Cred %ci%Creset%Creset%C(bold red) ~%Creset %C(cyan)%an%Creset%C(bold cyan),%Creset %s%C(bold green)%d%Creset
	epic-friend = %C(yellow)%h%Creset %C(cyan)%an%Creset%C(bold cyan),%Creset %s%Cred %ar%C(bold green)%d%Creset
