[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:RyanMcG/oh-my-zsh.git
[submodule "urxvt-perls"]
	path = urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-scriptease"]
	path = .vim/bundle/vim-scriptease
	url = git@github.com:tpope/vim-scriptease.git
[submodule ".vim/bundle/cst"]
	path = .vim/bundle/cst
	url = git://github.com/vim-scripts/cst.git
[submodule ".vim/bundle/cscope.vim"]
	path = .vim/bundle/cscope.vim
	url = git://github.com/vim-scripts/cscope.vim.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/detectindent"]
	path = .vim/bundle/detectindent
	url = git://github.com/ciaranm/detectindent.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/v-bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/gist-vim"]
	path = .vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule ".vim/bundle/gundo.vim"]
	path = .vim/bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-yankring"]
	path = .vim/bundle/vim-yankring
	url = git://github.com/chrismetcalf/vim-yankring.git
[submodule ".vim/bundle/vim-trailing-whitespace"]
	path = .vim/bundle/vim-trailing-whitespace
	url = git://github.com/bronson/vim-trailing-whitespace.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/snipmate-snippets"]
	path = .vim/bundle/snipmate-snippets
	url = git://github.com/scrooloose/snipmate-snippets.git
[submodule ".vim/bundle/vim-rsi"]
	path = .vim/bundle/vim-rsi
	url = git://github.com/tpope/vim-rsi.git
[submodule ".vim/bundle/vim-guifontzoom"]
	path = .vim/bundle/vim-guifontzoom
	url = git://github.com/RyanMcG/vim-guifontzoom.git
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-characterize"]
	path = .vim/bundle/vim-characterize
	url = git://github.com/tpope/vim-characterize.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/v-bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/vim-textobj-user"]
	path = .vim/bundle/vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule ".vim/bundle/vim-textobj-function"]
	path = .vim/bundle/vim-textobj-function
	url = git://github.com/kana/vim-textobj-function.git
[submodule ".vim/bundle/vim-textobj-indent"]
	path = .vim/bundle/vim-textobj-indent
	url = git://github.com/kana/vim-textobj-indent.git
[submodule ".vim/bundle/vim-textobj-underscore"]
	path = .vim/bundle/vim-textobj-underscore
	url = git://github.com/kana/vim-textobj-underscore.git
[submodule ".vim/bundle/vim-textobj-syntax"]
	path = .vim/bundle/vim-textobj-syntax
	url = git://github.com/kana/vim-textobj-syntax.git
[submodule ".vim/bundle/vim-textobj-dash"]
	path = .vim/bundle/vim-textobj-dash
	url = git://github.com/RyanMcG/vim-textobj-dash.git
[submodule ".vim/bundle/vim-textobj-line"]
	path = .vim/bundle/vim-textobj-line
	url = git://github.com/kana/vim-textobj-line.git
[submodule ".vim/bundle/vim-textobj-lastpat"]
	path = .vim/bundle/vim-textobj-lastpat
	url = git://github.com/kana/vim-textobj-lastpat.git
[submodule ".vim/bundle/vim-textobj-rubyblock"]
	path = .vim/bundle/vim-textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule ".vim/bundle/vim-textobj-python"]
	path = .vim/bundle/vim-textobj-python
	url = git://github.com/bps/vim-textobj-python.git
[submodule ".vim/bundle/vim-autornu"]
	path = .vim/bundle/vim-autornu
	url = git://github.com/RyanMcG/vim-autornu.git
[submodule ".vim/bundle/vim-fenced-code-blocks"]
	path = .vim/bundle/vim-fenced-code-blocks
	url = git://github.com/amiorin/vim-fenced-code-blocks.git
[submodule ".vim/bundle/vitality.vim"]
	path = .vim/bundle/vitality.vim
	url = git://github.com/sjl/vitality.vim.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/vim-sneak"]
	path = .vim/bundle/vim-sneak
	url = git://github.com/justinmk/vim-sneak.git
[submodule ".vim/bundle/vim-lion"]
	path = .vim/bundle/vim-lion
	url = git://github.com/tommcdo/vim-lion.git
[submodule ".vim/bundle/vim-projectionist"]
	path = .vim/bundle/vim-projectionist
	url = git://github.com/tpope/vim-projectionist.git
[submodule ".vim/bundle/vim-vinegar"]
	path = .vim/bundle/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule ".vim/bundle/vim-jdaddy"]
	path = .vim/bundle/vim-jdaddy
	url = git://github.com/tpope/vim-jdaddy.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/xoria256.vim"]
	path = .vim/bundle/xoria256.vim
	url = git://github.com/vim-scripts/xoria256.vim.git
[submodule ".vim/bundle/vim-wombat256i"]
	path = .vim/bundle/vim-wombat256i
	url = git://github.com/twe4ked/vim-wombat256i.git
[submodule ".vim/bundle/seoul256.vim"]
	path = .vim/bundle/seoul256.vim
	url = git://github.com/junegunn/seoul256.vim.git
[submodule ".vim/bundle/tcl.vim"]
	path = .vim/bundle/tcl.vim
	url = git://github.com/vim-scripts/tcl.vim.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/vim-sbt"]
	path = .vim/bundle/vim-sbt
	url = git://github.com/derekwyatt/vim-sbt.git
[submodule ".vim/bundle/vim-sexp"]
	path = .vim/bundle/vim-sexp
	url = git://github.com/guns/vim-sexp.git
[submodule ".vim/bundle/vim-sexp-mappings-for-regular-people"]
	path = .vim/bundle/vim-sexp-mappings-for-regular-people
	url = git://github.com/tpope/vim-sexp-mappings-for-regular-people.git
[submodule ".vim/bundle/vim-clojure-static"]
	path = .vim/bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule ".vim/bundle/vim-classpath"]
	path = .vim/bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule ".vim/bundle/vim-slamhound"]
	path = .vim/bundle/vim-slamhound
	url = git://github.com/guns/vim-slamhound.git
[submodule ".vim/bundle/vim-leiningen"]
	path = .vim/bundle/vim-leiningen
	url = git://github.com/tpope/vim-leiningen.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-octopress"]
	path = .vim/bundle/vim-octopress
	url = git://github.com/tangledhelix/vim-octopress.git
[submodule ".vim/bundle/wmgraphviz.vim"]
	path = .vim/bundle/wmgraphviz.vim
	url = git://github.com/wannesm/wmgraphviz.vim.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = git://github.com/davidhalter/jedi-vim.git
[submodule ".vim/bundle/vim-yaml"]
	path = .vim/bundle/vim-yaml
	url = git://github.com/avakhov/vim-yaml.git
[submodule ".vim/bundle/html5.vim"]
	path = .vim/bundle/html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule ".vim/bundle/vim-haml"]
	path = .vim/bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-javascript-syntax"]
	path = .vim/bundle/vim-javascript-syntax
	url = git://github.com/jelera/vim-javascript-syntax.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/vim-nodejs-errorformat"]
	path = .vim/bundle/vim-nodejs-errorformat
	url = git://github.com/felixge/vim-nodejs-errorformat.git
[submodule ".vim/bundle/vim-stylus"]
	path = .vim/bundle/vim-stylus
	url = git://github.com/wavded/vim-stylus.git
[submodule ".vim/bundle/vim-j"]
	path = .vim/bundle/vim-j
	url = git://github.com/RyanMcG/vim-j.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule ".vim/bundle/vimerl"]
	path = .vim/bundle/vimerl
	url = git@github.com:jimenezrick/vimerl.git
[submodule "scripts/dpi.py"]
	path = scripts/dpi.py
	url = git@github.com:RyanMcG/dpi.py.git
[submodule "center_dmenu"]
	path = center_dmenu
	url = git@github.com:RyanMcG/center_dmenu.git
[submodule ".vim/bundle/terminalkeys.vim"]
	path = .vim/bundle/terminalkeys.vim
	url = git@github.com:nacitar/terminalkeys.vim.git
[submodule ".vim/bundle/vim-typedclojure"]
	path = .vim/bundle/vim-typedclojure
	url = git@github.com:typedclojure/vim-typedclojure.git
[submodule ".vim/bundle/switch.vim"]
	path = .vim/bundle/switch.vim
	url = git@github.com:AndrewRadev/switch.vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule ".vim/bundle/neomake"]
	path = .vim/n-bundle/neomake
	url = git@github.com:benekastah/neomake.git
[submodule ".vim/bundle/vim-instant-markdown"]
	path = .vim/bundle/vim-instant-markdown
	url = git@github.com:suan/vim-instant-markdown.git
[submodule ".vim/bundle/vim-pencil"]
	path = .vim/bundle/vim-pencil
	url = git@github.com:reedes/vim-pencil.git
[submodule ".vim/bundle/goyo.vim"]
	path = .vim/bundle/goyo.vim
	url = git@github.com:junegunn/goyo.vim.git
[submodule ".vim/bundle/limelight.vim"]
	path = .vim/bundle/limelight.vim
	url = git@github.com:junegunn/limelight.vim.git
[submodule ".vim/bundle/vim-litecorrect"]
	path = .vim/bundle/vim-litecorrect
	url = git@github.com:reedes/vim-litecorrect.git
[submodule ".vim/bundle/vim-wordy"]
	path = .vim/bundle/vim-wordy
	url = git@github.com:reedes/vim-wordy.git
[submodule ".vim/bundle/gtags.vim"]
	path = .vim/bundle/gtags.vim
	url = git@github.com:vim-scripts/gtags.vim.git
[submodule ".vim/bundle/vim-lfe"]
	path = .vim/bundle/vim-lfe
	url = git@github.com:lfex/vim-lfe.git
[submodule ".vim/bundle/vim-gutentags"]
	path = .vim/bundle/vim-gutentags
	url = git@github.com:RyanMcG/vim-gutentags.git
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule ".vim/bundle/vim-addon-nix"]
	path = .vim/bundle/vim-addon-nix
	url = git@github.com:MarcWeber/vim-addon-nix.git
[submodule ".vim/bundle/vim-nix"]
	path = .vim/bundle/vim-nix
	url = git@github.com:LnL7/vim-nix.git
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/bundle/fzf"]
	path = .vim/bundle/fzf
	url = git@github.com:junegunn/fzf.git
[submodule ".vim/bundle/phpcomplete.vim"]
	path = .vim/bundle/phpcomplete.vim
	url = git@github.com:shawncplus/phpcomplete.vim.git
[submodule ".vim/bundle/vdebug"]
	path = .vim/bundle/vdebug
	url = git@github.com:joonty/vdebug.git
[submodule ".vim/bundle/deoplete-jedi"]
	path = .vim/n-bundle/deoplete-jedi
	url = git@github.com:zchee/deoplete-jedi.git
[submodule ".vim/bundle/deoplete.nvim"]
	path = .vim/n-bundle/deoplete.nvim
	url = git@github.com:Shougo/deoplete.nvim.git
[submodule ".vim/bundle/echodoc.vim"]
	path = .vim/n-bundle/echodoc.vim
	url = git@github.com:Shougo/echodoc.vim.git
[submodule ".vim/bundle/python-syntax"]
	path = .vim/bundle/python-syntax
	url = git@github.com:hdima/python-syntax.git
[submodule ".vim/bundle/rainbow"]
	path = .vim/bundle/rainbow
	url = git@github.com:luochen1990/rainbow.git
[submodule ".vim/bundle/vim-cider"]
	path = .vim/bundle/vim-cider
	url = git@github.com:Deraen/vim-cider.git
